/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,500|Roboto:100,300,400,500,700');
$base-font: 'Roboto', 'sans-serif';
$header-font: 'Kanit', 'sans-serif';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

// bootsrap color variables
$red: #EE5F5B;
$blue: #469AE0;
$orange: #EF8645;
$green: #32B796;
$gray: #000000;

// Website defined colors
$black: #000500;
$dark-grey: #4A4A4A;
$medium-grey: #C5C7C0;
$light-grey: #EFEFED;
$yellow: #FEC919;
$green-worker: #56E39F;
