/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Montserrat:300,300i,400,400i,500,500i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i');
$base-font: 'Montserrat', "sans-serif";
$header-font: 'Raleway', 'sans-serif';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

// bootsrap color variables
$red: #EE5F5B;
$blue: #469AE0;
$orange: #EF8645;
$green: #32B796;
$gray: #000000;

// Website defined colors
$black: #000500;
$dark-grey: #4A4A4A;
$medium-grey: #C5C7C0;
$light-grey: #F6F6F3;
$yellow: #FEC919;
