<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class='article-page'>
        <h1 class="text-center">Toiture introduction</h1>
        <p class="italic">La toiture est un  élément essentiel de votre logement pour plusieurs raisons :</p>
        <ul>
          <li>elle vous abrite du froid, de l’humidité, de la pluie, etc.</li>
          <li>C’est une zone de vie avec les terrasses, les combles qui peuvent être aménagés.</li>
          <li>C’est une zone d’énergie avec des panneaux solaires.</li>
          <li>C’est un perchoir potentiel pour admirer le paysage.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
