
<h3>Bienvenue <strong style="font-style:italic;"><%= @user.first_name %></strong> <strong><%= @user.last_name %></strong> sur lestoitures.fr</h3>

<p>Merci de compléter votre profil soigneusement <strong><span style="background-color: yellow"><%= link_to "ici", edit_user_url(@user) %></span></strong></p> afin que votre entreprise puisse être affichée dans l'annuaire.

<p>Si vous avez des questions, vous pouvez nous contacter au courriel suivant : <strong>contact@lestoitures.fr</strong></p>

<p style="font-style: italic">L'équipe lestoitures.fr</p>

<img src="https://www.lestoitures.fr/assets/logonavbar2-56b902cd2fdd49a418921e9949f00da74ee6955fe7d06dfecbcb05a09f751033.png"/>


