/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-banner {
  color: white;
  text-align: center;
  height: calc(100vh - 100px);
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.home-banner-xs {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.form_home {
  z-index:50;
  width: 877px;
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}
.home-banner h2 {
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.home-banner h3 {
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
}

.home_container {
  padding: 15px;
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .main-form-stuffs {
    margin-left: -40px;
    margin-right: -40px;

    .custom-drop-down-btn {
      z-index:3;
      width: 160px;
      height: 45px;
      background-color:white;
      opacity: 1;
      font-size: 0.9em;
    }

    .dropdown-size-custom {
      min-width:230px;
    }

    label {
      font-weight: lighter;
      color: initial;
    }

    ul {
      padding: 10px;
      min-width: 160px;
    }

    li {
      padding: 10px;
      font-size: 0.9em;
    }
  }

  .form-group {
    margin-bottom: 0px;

    .form-control {
      width: 290px;
      height: 45px;
      opacity: 1;
      font-size: 0.9em;
    }
  }
}

#border-presentation-site-home {
  text-align: justify;

  li {
  padding: 10px;
  }

  h4 {
    margin-bottom: 7px;
    text-align: left;
  }

}

.presentation-site-home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  min-height: 650px;
  h3 {
    font-size: 22px;
  }

  .home-icones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    i {
      height: 90px;
      width: 90px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: space-around;
    }
    p {
      margin-top: 8px;
      margin-bottom: 10px;
      max-width: 270px;
      font-weight:lighter;
      span {
        font-weight: bolder;
        color: $black;
      }
    }
  }
}

.guide-card-home {
  padding-bottom: 40px;
  background-color: white;
  border-radius: 2px;
  h1 {
    font-size: 29px;
    color:$yellow;
    text-align: center;
  }
  .row-guide-card-home {
    h2 {
      font-size: 22px;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 2px;
    }
  }
  .card-home-guide{
    height: 200px;
    background-size: cover !important;
    color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    &:hover {
    transform: translateY(-5px) translateZ(0);
    color: $yellow;
    background-color: $black;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 14px;
      padding: 10px;
    }
  }
}

.card-link-home-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}


.annuaire-card-home {
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 2px;
  h1 {
    font-size: 29px;
    color:$yellow;
    text-align: center;
  }
  .row-annuaire-card-home {
    h2 {
      font-size: 22px;
      margin-left: 40px;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 2px;
    }
    a:hover, a:visited, a:link, a:active {
      text-decoration: none;
    }
  }
}

.print-screen-box {
  overflow-y: scroll;
  height:300px;
  width: 645px;
  opacity: 0.8;
  border-radius: 5px;
  .image-scroll-width {
    width: 645px;
  }
  &:hover {
    opacity: 1;
  }
}


/* Banner home (slideshow) */
#slideshow {
  height: calc(100vh - 70px);
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  right: 0;

  &, .slide {
    position: absolute;
    left: 0;
    right: 0;
    // width: 100%;
  }

  .slide {
    background-position: center;
    background-size: cover!important;
    opacity: 0;
    height: calc(100vh - 100px);
    top: 0;

    &.previous {
      z-index: 1;
      opacity: 1;
    }

    &.current {
      z-index: 2;
      animation: fadein 5000ms linear both;
    }
  }

  .slideshow-content {
    z-index: 4;
    // position: absolute;
    color: white;

    & h1 {
      font-size: 50px;
      font-weight: bold;
    }

    & p {
      margin-bottom: 30px;
      font-size: 20px;
    }

    & p.vanity-data {
    font-size: 20px;
    font-weight: bold;
    }
  }
}

@keyframes fadein {
  0%   { opacity: 0; }
  30%  { opacity: 1; }
  100% { opacity: 1; }
}

.banner-guide {
  background-color: white;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}

.banner-magazine {
  background-color: white;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
}

.card-presentation-container {
  padding-bottom: 40px;
  padding-top: 30px;
}

#center-form-annuaire {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.form-xs{
  margin-top: 20px;
  .dropdown-toggle {
    width: 100%;
    margin-bottom: 10px;
  }
}

#search-button-form-xs {
  margin-left:0px;
  width: 100%;
}

.dropdown-form-home-xs {
  width: 100%;
  padding: 10px;
}

.card-guide {
  margin-top: 5px;
  margin-bottom: 5px;
}
