.emergency-form {
  padding: 40px 0 40px 0;

  .row {
    padding: 20px 0 20px 0;
  }
  .row-emergency-check-box-form{
    p {
      font-weight: bolder;
    }

    label {
      font-weight: lighter;
      color: initial;
    }
  }
  #client_message {
    min-height: 90px;
  }
}

.fa-ul {
  font-size: larger;
}

