.prez-projets {
  padding:20px;
}

.title_project_new {
  margin-bottom: 30px;
}

.row_new_project {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row_project_preview {
  margin-top: 30px;
  margin-bottom: 30px;

  .project_preview {
    padding: 10px;
    background-color: white;
    border: solid $medium-grey 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 5px;
    width: 280px;
    height: 280px;
    border-radius: 4px;

    p {
      font-weight: bolder;
      padding: 5px;
      max-width: 240px;
    }

    img {
      border-radius: 5px;
      margin-bottom: 10px;
    }

    a {
      margin-bottom: 5px;
    }
  }
}

#project_description {
  height: 300px;
  max-width: 100%;
}

#title-project-count {
  margin-bottom: 10px;
}

#description-project-count {
  margin-bottom: 10px;
}

.counter-style {
  margin: -37px 10px 35px 0;
  color: $blue;
}

#position_btn_project {
  margin-top: 50px;
  margin-bottom: 40px;
}

#body-count-1 {
  margin: 40px 10px -20px 0px;
  color: $blue;
}

#article_body {
  height: 500px;
}

#margcontaiprojet {
  margin-bottom:60px;
  li {
    display: inline-block;
    margin-top: 10px;
    img {
      margin-left: 10px;
    }
    a {
      color:$blue;
    }
  }
}

.flexbox-project-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  .form-group:first-child {
    margin-right: 50px;
  }
}
