
// banniere en view ordi
.wrapper_users_show {
  position: relative;

  .banner-show {
    text-align: center;
    height: calc(100vh - 120px);
    background: no-repeat center;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;

    // .user-logo-banner {
    //   position: absolute;
    //   left: 600px;
    //   top: 30px;
    //   max-width: 400px;
    //   img {
    //     max-width: 400px;
    //     max-height: 100px;
    //   }
    // }
  }

  .user-company {
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    height: 180px;
    width: 100%;
    background-color: black;
  }

  .logoname {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    height: 180px;
    width: 100%;

    img {
      position: absolute;
      bottom: 50px;
      left: 500px;
      border-radius: 50%;
    }

    h3 {
      font-size: 1.9em;
      color: white;
      max-width: 400px;
      position: absolute;
      bottom: 75px;
      left: 615px;
    }

    #cpy-address{
      color: white;
      position: absolute;
      bottom: 60px;
      left: 615px;
      font-weight: lighter;
    }

    .phone-mail-banner {
      position: absolute;
      right: 40px;
      color: white;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      height: 100%;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }

      .fa {
        margin-right: 10px;
      }

    }
  }
}

//formulaire en view ordi (disparait en vue xs)

.form-container {
  position: absolute;
  top: 37px;
  left: 120px;
  background-color: white;
  height: 495px;
  width: 320px;
  z-index: 2;
  opacity: 0.96;

  .ul-position {
    position: absolute;
    top: 0px;
    font-size: 20px;
    width: 320px;
    height: 60px;
    border-bottom: 0px;
  }

  .nav-tabs {
    li {
      width: 160px;
    }
    a {
      line-height: 1.4em;
      color: black;
      border:none;
      margin:none;
    }
    li.inactif {
      background-color: $medium-grey;
      a {
        background-color: $medium-grey;
      }
    }
    li.active {
      background-color: white !important;
      a {
        background-color:white;
      }
    }
  }

  .tab-pane.active {
    position: absolute;
    top: 48px;
    width: 320px;
    margin-top: 10px;
  }

  .simple_form.new_client {
    width: 300px;
    margin-left: 10px;
  }


  .form-control.text.optional {
    height: 160px;
  }

  .button-message {
    background-color: black;
    color: white;
    width: inherit;
  }
}

.fa-text {
  font-weight: lighter;
  font-size: smaller;
  margin-left: 6px;
}



// Bannière pour le format xs
.banner-show-xs {
    text-align: center;
    height: 200px;
    background: no-repeat center;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  }

.logoname-xs {
  position: absolute;
  bottom: 200px;
  left: 0px;
  z-index: 2;
  // height: 180px;
  width: 100%;
  img {
    position: absolute;
    bottom: -115px;
    left: 15px;
    border-radius: 50%;
  }
  h4 {
    font-size: 1.9em;
    color: white;
    min-width: 300px;
    position: absolute;
    bottom: -180px;
    left: 15px;
  }
}


//Corps de la presentation

//user-information seulement valable en xs
.user-information-xs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  align-content: stretch;
  min-height: 100px;
  text-align: justify;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  min-width: 332px;
  margin-top: 20px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  .fa-phone:before {
    color: blue;
    padding-right: 10px;
  }
  .fa-envelope:before {
    color: blue;
    padding-right: 10px;
  }
}


.user-description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  align-content: stretch;
  min-height: 310px;
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  min-width: 332px;
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  p {
    font-size: 0.94em;
  }
}

.user-communication {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  min-width: 332px;
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  p {
    font-size: 0.94em;
  }
}

.user-revuedepresse {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  min-width: 332px;
  margin-top: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  p {
    font-size: 0.94em;
  }
}

.link-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  .link-style {
    padding:10px;
  }
}


// cards description user
.description-container {
  .row {
    margin-bottom: 40px;
  }
  .description-row {
    margin-bottom: 100px;
  }
  .skills-column {
    background-color: white;
    border-radius: 3px;
    margin-top: 30px;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
  }
}


// cards projet
.project-card{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
  }

  .row-project-card {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    font-color: white;
    background-color: white;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }


  #carousel-example-generic-1 {
    max-width: 453px;
  }

  .carousel {
    position: inherit;
  }

  .carousel-inner {
    background-color: white;
  }

  #desc-projet {
    text-align: justify;
    margin-bottom: 20px;
    font-size :smaller;
  }

  .fa {
    margin-right: 10px;
  }
  .project-infos {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}

.labels-show {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  min-width: 210px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 3px !important;
    margin-right: 0px !important;
  }
}

.tab-content {
  #office_phone{
    font-weight: bolder;
    margin: 10px 30px 10px 30px;
    border-bottom: $medium-grey 2px solid;
    padding-bottom: 15px;
  }
  .form-title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


.underline-title-container {
  border-bottom: solid 1px $dark-grey;
  h3 {
    margin-top: 0px;
    }
}

#skills-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}
