
// banniere et formulaire
.wrapper_users_show {
  position: relative;


  .banner-show {
    text-align: center;
    height: calc(100vh - 120px);
    background: no-repeat center;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .form-container {
    position: absolute;
    top: 50px;
    right: 90px;
    background-color: white;
    height: 546px;
    max-height: calc(100vh - 170px);
    width: 320px;
    z-index: 2;

    .ul-position {
      position: absolute;
      top: 0px;
      font-size: 20px;
      width: 320px;
      height: 60px;
      border-bottom: 0px;
    }

    .nav-tabs {
      li {
        width: 160px;
      }
      a {
        line-height: 1.4em;
        color: black;
      }
      li.inactif {
        background-color: $medium-grey;
      }
      li:active {
        border-right: 0px;
        margin: 0px;
        background-color: white !important;
      }
    }

    .tab-pane.active {
      position: absolute;
      top: 48px;
      width: 320px;
      margin-top: 20px;
    }

    .simple_form.new_client {
      width: 300px;
      margin-left: 10px;
    }


    .form-control.text.optional {
      height: 180px;
    }

    .button-message {
      background-color: black;
      color: white;
      width: inherit;
    }
  }

  .fa-text {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 6px;
  }
}


.user-description {
  text-align: justify;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  min-width: 332px;
  margin-top: 30px;
  #flex-pic-address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    img {
      margin-right: 60px;
    }
  }
  h2 {
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: lighter;
  }
  p {
    margin-bottom:40px;
  }
}


.user-company {
  opacity: 0.65;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  height: 22%;
  width: 100%;
  background-color: $dark-grey;
}

.logoname {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 22%;
  width: 100%;
  img {
    margin-left: 50px;
  }
  h3 {
    margin-left: 40px;
    font-size: 2.2em;
    color: white;
    max-width: 600px;
  }
}

// cards description user
.description-container {
  .description-row {
    margin-bottom: 100px;
  }
  .skills-column {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    margin-top: 30px;
  }
}


// cards projet
.project-card{
  min-height: 400px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  h3 {
    padding: 15px;
    padding-top: 5px;
  }

  #carousel-example-generic-1 {
    max-width: 453px;
  }

  .carousel {
    position: inherit;
  }

  #desc-projet {
    text-align: justify;
    margin-bottom: 20px;
    font-size :smaller;
  }

  .fa {
    margin-right: 10px;
  }
  .project-infos {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}

