.wrapper_users_show {
  position: relative;
}

.banner {
  text-align: center;;
  height: calc(100vh - 120px);
  background: no-repeat center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  position: relative;
}

.form-container {
  position: absolute;
  top: 60px;
  right: 90px;
  background-color: white;
  height: 600px;
  width: 320px;
  border-radius: 4px;

  .fa-phone {

  }

  .fa-envelope {

  }
  .ul-position {
      position: absolute;
      top: 0px;
      font-size: 20px;
      width: 320px;
      height: 60px;
  }
  .nav-tabs > li {
      float: left;
      margin-bottom: -1px;
      width: 160px;
  }
  .tab-pane.active {
    position: absolute;
    top: 48px;
    width: 320px;
    margin-top: 20px;
  }

  .simple_form.new_client{
    width: 300px;
    margin-left: 10px;
  }

  .li.active {
    border-right: 0px;
    margin: 0px;
    .a {
      margin: 0px;
    }
  }

  .form-control.text.optional {
   height: 180px;
  }

  .inactif {
    background-color: #D0D0D0;
    color: white;
    text-decoration: none;
    .a {
      &:hover {
      }
    }
  }

  .nav-tabs > li.active > a {
    margin: 0px;
  }

  .button-message {
    background-color: black;
    color: white;
    width: inherit;
  }
}














