<div class="wrapper" style="font-family: 'Roboto', 'sans-serif';">
  <div class="container" style="background:lightgrey;color:#CCCCCC;padding: 20px;margin-top: 20px;">
    <div class="row">
      <div class="col-xs-6">

        <!-- <div> <%= image_tag "logonavbar2.png" %></div>
        <%= image_tag "isolant.jpg" %>
        <img src ="logonavbar2.png" width="100px" height="100px">
        <%= image_url("isolant.jpg") %>
        asset_url("isolant.jpg")
        <%= asset_url("isolant.jpg") %> -->
        <span style="color:grey;margin-bottom:5px;">Copyright © 2017 LesToitures.fr, Tous droits réservés.</span>
        <br>
        <span style="color:grey;margin-bottom:5px;">LesToitures.fr est un site internet édité par la société Remora Web SAS </span>
        <br>
        <span style="color:grey;margin-bottom:5px;">Immatriculée au 830 579 637 R.C.S Nanterre | Capital Social 5000,00 euros</span>
        <br>
        <span style="color:grey;margin-bottom:5px;">69, rue du point du jour, 92100 Boulogne-Billancourt</span>
        <br>
        <br>
        <a style="color:grey;transition: color 0.5s ease;&:hover{color: $yellow;}" href="https://www.facebook.com/LesToitures/">Facebook</a>
        <a style="color:grey;transition: color 0.5s ease;&:hover{color: $yellow;}" href="https://twitter.com/LesToitures">Twitter</a>
      </div>
    </div>
  </div>
</div>
