<!-- fix button  -->
<%= link_to new_client_path do %>
  <div class="fix-cta hidden-xs">
    <div class="fix-cta-rotate">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-hourglass-half fa-rotate-90"></i><span>INTERVENTION URGENTE</span></li>
      </ul>
    </div>
  </div>
<% end %>
