<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Les guides </h1>
          <span>L'essentiel pour bien comprendre</span>
        </div>
      </div>
    </div>
  </div>
</div>
