<h1 class="text-center"> Il y a <%= @available_users.count %> prestataires dans votre secteur</h1>


<div class="container">
  <div class="row">
  <% @available_users.each do |user| %>
    <div class="col-xs-12">
    <%= render "shared/card_users", user: user %>
    </div>
    <% end %>
  </div>
</div>



