<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Lestoitures.fr </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>
        <header>
          <h1 itemprop="headline" class="text-center">Conditions générales d'utilisation</h1>
        </header>

        <p>Lestoitures.fr est une plateforme web, accessible à l’adresse www.toitsdefrance.fr (le « Site ») exploitée par la société Remora Web, société par actions simplifiée au capital de 5000 euros, ayant son siège social situé 69, rue du point du Jour, 92100 Boulogne Billancourt et immatriculée au registre du commerce et des sociétés de Paris. Ladite plateforme est dédiée à l’information des utilisateurs du Site (le ou les « Utilisateurs ») en matière de rénovation de toitures. Ladite plateforme propose également des services aux professionnels (le ou les "Professionnels").</p>

        <p>L’objet des présentes Conditions Générales d’Utilisation (ci-après dénommées les « Conditions » ou prises dans leur ensemble, le « Contrat ») est de définir les termes et les conditions régissant les relations entre les Utilisateurs, les Professionnels et Lestoitures.fr. En cas de non respect des termes des présentes Conditions, Lestoitures.fr se réserve le droit de prendre toute mesure de nature à préserver ses intérêts et notamment à en assurer l'exécution.</p>

        <p>L’Utilisateur et le Professsionnel s’engage lors de chacune de ses visites du Site à respecter l’ensemble des présentes Conditions sans aucune réserve. En conséquence, l’Utilisateur reconnait avoir pris connaissance des Conditions et accepte d’être lié par les présentes dispositions.</p>

        <h2>Article 1 – Accès au Site</h2>
        <p>Pour être éligible au Service (tel que ce terme est défini à l’article 2), l’Utilisateur peut être une personne physique ou morale. Si l’Utilisateur est une personne physique, il doit avoir atteint l’âge de 18 ans et disposer de sa pleine capacité juridique</p>

        <h2>Article 2 – Fonctionnement du Site</h2>

        <p>Le Site permet à l’Utilisateur d’accéder notamment aux services suivants (ci-après dénommé(s) le ou les « Service(s) ») :</p>

        <ol>
          <li>Consultation des articles, magazines, conseils et informations publiés sur le Site ;</li>
        </ol>

        <p>Le Site permet au Professionnel d’accéder notamment aux services suivants (ci-après dénommé(s) le ou les « Service(s) ») :</p>

        <ol>
          <li>Créer une page de présentation de son entreprise, créer une ou plusieurs pages projet</li>
          <li>Publier des articles</li>
          <li>Avoir accès à un service de recherche d'employés </li>
        </ol>

        <h2>Article 3 – Utilisation des Services du Site</h2>

        <p>Lestoitures.fr, selon les présentes Conditions, accorde aux Utilisateurs un droit d’accès limité révocable, non exclusif, non cessible aux Services à titre strictement personnel. Toute utilisation contraire du Site à sa finalité est strictement interdite et constitue un manquement aux présentes dispositions.</p>

        <h4>Article 4 – Obligations des Utilisateurs</h4>

        <p>Les Utilisateurs s’interdisent :</p>

        <ol>
          <li>de transmettre, publier, distribuer, enregistrer ou détruire tout matériel, en particulier les contenus de Lestoitures.fr en violation des lois ou règlementations en vigueur concernant la collecte, le traitement ou le transfert d'informations personnelles ;</li>
          <li>de diffuser des données, informations, ou contenus à caractère diffamatoire, injurieux, obscène, offensant, violent ou incitant à la violence, ou à caractère politique, raciste ou xénophobe et de manière générale tout contenu qui serait contraire aux lois et règlements en vigueur ou aux bonnes mœurs ;</li>
          <li>de référencer ou créer des liens vers tout contenu ou information disponible depuis le site de Lestoitures.fr, sauf accord exprès, préalable et écrit de Lestoitures.fr ; </li>
          <li>de vendre, échanger ou monnayer des informations, contenus ou toutes données présentes sur le Site ou Service proposé par le Site, sans l’accord express et écrit de Lestoitures.fr ;</li>
          <li>de contrefaire ou d’utiliser les produits, les logos, les marques ou tout autre élément protégé par les droits de propriété intellectuelle de Lestoitures.fr ;</li>
        </ol>

        <p>Les Utilisateurs s’engagent à utiliser le Site de manière loyale, conformément à sa finalité professionnelle et aux dispositions légales, règlementaires, aux présentes Conditions et aux usages en vigueur.</p>

        <h2>Article 5 - Utilisation du contenu du Site</h2>

        <p>L’ensemble du contenu du Site, notamment les designs, textes, graphiques, images, vidéos, informations, logos, icônes-boutons, logiciels, fichiers audio et autres appartient à Lestoitures.fr, lequel est seul titulaire de l’intégralité des droits de propriété intellectuelle y afférents.</p>

        <p>Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et Services proposés par Lestoitures.fr, par quelque procédé que ce soit, sans l'autorisation préalable et écrite de Lestoitures.fr, est strictement interdite et serait susceptible de donner lieu à des poursuites judiciaires.</p>

        <h2>Article 6 – Données à caractère personnel </h2>

        <p>Toutes les données à caractère personnel dont dispose Lestoitures.fr sont recueillies légalement et loyalement.</p>

        <p>Ces données sont fournies par les Professionnels qui acceptent de manière volontaire et expresse les présentes Conditions autorisant Lestoitures.fr à traiter, divulguer ou transférer ces données à tout tiers dans l'optique de permettre (i) à l’Utilisateur de profiter pleinement des Services et des fonctions proposés par le Site, (ii) prévenir toute fraude et /ou (iii) à des fins statistiques. Les Professionnels sont par ailleurs informés que leurs adresses de courrier électronique (adresse email) pourront être utilisées par Lestoitures.fr à des fins de prospection non commerciale.</p>

        <p>Les données à caractère personnel sont stockées par Lestoitures.fr sur ses serveurs, en vue de leur traitement dans le cadre de l’utilisation des Services. Elles sont conservées aussi longtemps que nécessaire pour l’apport des Services et fonctions offerts par le Site.</p>

        <p>L’Utilisateur reste toujours propriétaire des informations le concernant qu’il transmet à Lestoitures.fr. Il dispose, conformément à la loi n° 78-17 du 6 janvier 1978 modifiée par la loi n° 2004-801 du 6 août 2004, d’un droit d’accès, de rectification et de suppression des données à caractère personnel le concernant, ainsi que du droit de s’opposer à la communication de ces données à des tiers pour de justes motifs.</p>

        <p>L’Utilisateur pourra exercer ses droits en écrivant à l’adresse électronique suivante : contact@toitsdefrance.fr ou à l’adresse postale suivante : 69, rue du point du Jour, 92100 Boulogne-Billancourt.</p>

        <p>Une réponse à la requête de l’Utilisateur lui sera adressée dans un délai de 30 jours.</p>

        <p>Par ailleurs et conformément aux dispositions de l’article L 223-2 du Code de la consommation, Lestoitures.fr informe les internautes se rendant sur son site qu’il dispose du droit de s’opposer à l'utilisation de ses coordonnées téléphoniques à des fins de prospection commerciale en s’inscrivant gratuitement sur la liste d'opposition au démarchage téléphonique « Bloctel », et en remplissant le formulaire d’inscription accessible sur le site internet http://www.bloctel.gouv.fr/.</p>

        <h2>Article 6 – Limites de responsabilité de Lestoitures.fr</h2>

        <p>Lestoitures.fr ne contrôle pas l’exactitude du contenu généré par les Utilisateurs et par les Professionnels, en conséquence, Lestoitures.fr ne donne aucune garantie sur la teneur de ce contenu et ne serait en aucun être tenu responsable au titre de ce contenu. Seul le Professionnel, à l’exclusion de Lestoitures.fr, est responsable de toutes données et informations le concernant qu’il a fournies, que ces données soient accessibles ou non du public, et plus généralement, l’Utilisateur et le Professionnel est seul responsable de l’utilisation qu’il fait du Site.</p>

        <p>Lestoitures.fr n’a pas d’obligation générale de surveillance des données et du contenu fournis par les Professionnels et les Utilisateurs, ni d’obligation de suppression d’un contenu qui ne paraitrait pas manifestement illicite, nonobstant son signalement.</p>

        <h2>6.3 – Indépendance des relations Professionnels / Utilisateurs</h2>

        <p>Lestoitures.fr ne saurait avoir la qualité de cocontractant ou de proposant des Devis réalisés via son Site étant précisé que Lestoitures.fr reste tiers aux éventuelles relations des Professionnels et des Utilisateurs.</p>

        <p>Le rôle de Lestoitures.fr se limite à la mise en relation des Utilisateurs et des Professionnels. En conséquence, les Professionnels et les Utilisateurs doivent convenir ensemble des conditions juridiques, financières et matérielles de leurs relations dont ils seront les seuls responsables.</p>

        <p>Date de dernière mise à jour : le 15 juin 2017</p>
      </div>
    </div>
  </div>
</div>
