<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Lestoitures.fr </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>
        <header>
          <h1 itemprop="headline" class="text-center">Contactez l'équipe</h1>
        </header>
        <p class="italic">N'hésitez pas nous contacter si vous des questions, des suggestions ou des critiques que vous soyez un particulier ou un professionnel. C'est à votre écoute que nous pouvons améliorer notre service.</p>

        <h2>L'équipe</h2>

        <h3>Guillaume Salin</h3>
        <p>Responsable annuaire et professionnels</p>
        <!-- <p>Diplômé de l'ISG et responsable de location de bureau chez BNP Paribas Immobilier pendant 7 ans, j'ai l'habitude de travailler avec des professionnels</p> -->

        <br>

        <h3>Edouard Castaignet</h3>
        <p>Responsable éditorial</p>
        <!-- <p>Diplômé de Sciences-Po Strasbourg et de l'EM Lyon, j’ai d'abord travaillé comme journaliste économique puis comme responsable de la communication digitale d'une association.</p> -->

        <h2>Contactez-nous par mail</h2>
        <p>contact@lestoitures.fr</p>

      </div>
    </div>
  </div>
</div>
