<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Toits de France </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>
        <header>
          <h1 itemprop="headline" class="text-center">Mentions légales</h1>
        </header>
        <br>
        <p>Le site Toitsdefrance.fr est édité par la société Rémora Web.</p>

        <h2>Remora Web</h2>
        <p>Société par Actions Simplifiées au capital de 5 000,00 €,</p
        >
        <p>Immatriculée au RCS Paris sous le n° (en cours d'immatriculation)</p>
        <p>Numéro de TVA intracommunautaire :</p>

        <h3>Siège social :</h3>
        <p>69, rue du point du jour</p>
        <p>92100 Boulogne-Billancourt</p>
        <p>Président : Edouard Castaignet</p>

      </div>
    </div>
  </div>
</div>
