<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Lestoitures.fr </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>

        <header>
          <h1 itemprop="headline" class="text-center">Qui sommes-nous ?</h1>
        </header>

        <h2>L'équipe</h2>

        <p>Lestoitures.fr est un site internet créé en juillet 2017 par Edouard Castaignet et Guillaume Salin.</p>

        <ul>
          <li>Guillaume est en charge de l'annuaire et de l'accompagnement des professionnels</li>
          <li>Edouard s'occupe de la rédaction du Magazine et des contenus éditioriaux</li>
        </ul>

        <h2>Prestations</h2>

        <p>Pour le particulier :</p>

        <ul>
          <li>Un annuaire pour trouver et se renseigner sur les professionnels inscrits en ligne</li>
          <li>Un magazine pour s'informer sur les dernières nouveautés (techniques, idées, évolution de la réglementation...)</li>
        </ul>

        <p>Pour le professionnel :</p>

        <ul>
          <li>Accès à un intranet pour construire son profil et l'enrichir avec des projets, des articles... </li>
          <li>Accès à un service de bourse d'emploi en ligne</li>
        </ul>


        <h2>Pourquoi ce site ?</h2>
        <p>Lestoitures.fr est né du constat qu’il n’existe pas de plate-forme permettant aux professionnels de la toiture de se présenter facilement, de manière transparente et gratuitement.</p>
        <p>Nous proposons aux professionnels de conserver le contrôle de leur image tout en bénéficiant de la force d'une plate-forme : flux de visite important, contrôle et vérification de la part de notre équipe.</p>
        <p>Nous souhaitons également redonner au toit ses lettres de noblesse en créant un média dédié et en mettant en avant les défenseurs de ce patrimoine.</p>

        <h2>Les engagements de Lestoitures.fr</h2>

        <h3>Une entreprise indépendante</h3>
        <p>Nous revendiquons une totale indépendance vis-à-vis des acteurs de la filière : artisans, fabricants de matériel et industriels.</p>

        <h3>Un service gratuit pour l'internaute</h3>
        <p>L'accès aux guides et au Magazine ainsi que l'accès à l'Annuaire est totalement gratuit pour l'internaute et le restera.</p>

        <h3>Un réseau ouvert à tous les professionnels de la toiture</h3>
        <p>Lestoitures.fr permet aux particuliers de trouver facilement les professionnels existants près de chez eux en ayant accès à leurs chantiers réalisés, leurs certifications, leur spécialités, leurs coordonnées... et peuvent ainsi se familiariser avec les enjeux principaux et affiner leur projet immobilier.</p>

        <h3>Une présentation transparente des professionnels</h3>
        <p>Les professionnels présents sur le site remplissent un nombre minimum d'informations (coordonnées, nom du contact dans l'entreprise...) permettant aux particuliers de pouvoir les contacter.</p>

        <h3>Promouvoir la filière toiture</h3>
        <p>Nous avons deux convictions :</p>

        <ul>
          <li>La toiture redevient un espace de vie, d'esthétisme, de patrimoine et de technologie au même titre que le jardin ou la cuisine... d'où l'intention de créer un média de qualité et grand public dédié à la toiture. </li>
          <li>Les métiers de la toiture vont aller en se spécialisant et qu'un portail présentant rapidement l'ensemble des spécialités permettra aux professionnels de toucher rapidement les personnes réellement intéressées par leurs compétences. </li>
        </ul>

        <h2>Contact</h2>
        <p>Vous souhaitez nous contacter : c'est par <%= link_to "ici", contact_path %></p>

      </div>
    </div>
  </div>
</div>
