<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Lestoitures.fr </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>

        <header>
          <h1 itemprop="headline" class="text-center">Qui sommes-nous ?</h1>
        </header>
<<<
        <p class="italic">Lestoitures.fr est un service internet spécialisé dans la filière toiture. Fondée en 2017 par Edouard Castaignet et Guillaume Salin, la société aide les propriétaires de maison et d’appartement à mener sereinement leurs travaux de toitures (rénovation, entretien, installation).</p>
         <h2>Prestations</h2>

        <p>Sur le site lestoitures.fr, l’internaute peut trouver les prestataires de qualité spécialisés dans la toiture pour sa maison mais aussi se renseigner en accédant à des informations de qualité :</p>

        <ul>
          <li>Une méthodologie et des infos pour bien appréhender ses travaux de toitures</li>
          <li>Un magazine pour s'informer sur les dernières nouveautés (techniques, subventions...)</li>
          <li>Un annuaire pour trouver les meilleurs artisans et leurs projets déjà réalisés</li>
        </ul>

        <h2>Pourquoi ce site ?</h2>
        <p>lestoitures.fr est né du constat qu’il n’existe pas de moyens efficaces permettant de choisir un artisan qualifié dans le domaine de la toiture, un enjeu pourtant essentiel pour le particulier.</p>
        <p>Nous proposons d’apporter une transparence à ce métier en permettant aux acteurs professionnels de se présenter, de présenter leurs projets et leurs idées via des articles. Cela afin de créer un cercle vertueux et la transmission des bonnes pratiques.</p>
        <p>Nous souhaitions également redonner au toit ses lettres de noblesse en créant un média dédié. Héritage architectural contribuant à la sauvegarde d'un patrimoine vivant, le toit est aussi dévenu un élément essentiel dans la conception du lieu de vie qu'est l'habitation.</p>

        <h2>Les engagements de Lestoitures.fr</h2>

        <h3>Une entreprise indépendante</h3>
        <p>Nous revendiquons une totale indépendance vis-à-vis des acteurs de la filière : artisans, fabricants de matériel et industriels.</p>

        <h3>Un service gratuit pour l'internaute</h3>
        <p>L'accès aux guides et au Magazine ainsi que l'accès à l'Annuaire est totalement gratuit pour l'internaute. Nous avons souhaité fournir aux particuliers les notions essentielles à savoir au moment de s’entourer d’un professionnel afin de les aider dans leur processus de décision.</p>

        <h3>Un réseau ouvert et transparent</h3>
        <p>Toits de France permet aux particuliers de trouver facilement les professionnels existants près de chez eux en ayant accès à leurs chantiers réalisés, leus certifications,... afin de choisir le prestataire qui correspond le plus à leur besoin.</p>

        <h3>Des partenaires professionnels de qualité</h3>
        <p>Toits de France souhaite présenter à ses utilisateurs des professionnels compétents, fiables et efficaces. Nous constituons notre réseau de partenaires avec une exigence particulière afin que les demandes traitées correspondent parfaitement aux attentes des particuliers.</p>

        <h3>Promouvoir la filière toiture</h3>
        <p>D’un autre côté, nous pensons que la spécialisation des métiers de la toiture est une bonne chose. Nous proposons aux artisans spécialistes de la toiture  d’améliorer leur communication sur leur spécialité en augmentant leur visibilité sur internet mais aussi de défendre leur métier et leurs réalisations qui font parties de notre patrimoine architectural et culturel. </p>
      </div>
    </div>
  </div>
</div>
