<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Lestoitures.fr </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>
        <header>
          <h1 itemprop="headline" class="text-center">Services aux particuliers</h1>
        </header>
        <p class="italic">L'objectif de lestoitures.fr est de donner au particulier les informations qui lui permettront de réussir son projet de rénovation ou de construction de sa toiture. Nous apportons cette aide à la décision de deux manières : apporter les connaissances nécessaires au néophyte mais aussi en passant par un meilleur référencement des entreprises de la profession. N'hésitez pas à nous <%=link_to "contacter", contact_path %>.</p>

        <h2>Un média spécialisé dans la toiture pour une meilleur compréhension des enjeux</h2>

        <p>Comprendre les éléments avec un rendu synthétique des principaux enjeux qui permettent de saisir les enjeux rapidement:</p>

        <ul>
          <li>des guides face aux différentes situations,</li>
          <li>des articles pour trouver des bonnes idées, des inspirations issues des réalisations de nos partenaires,</li>
          <li>des comparatifs pour vous aider à choisir en fonction de vos besoins,</li>
          <li>- des simulations d’aide à la décision.</li>
        </ul>

        <h2>Faciliter la recherche des bons professionnels</h2>
        <p>Notre objectif : donner au particulier les moyens de réussir son projet.</p>

        <ul>
          <li>Un annuaire recensant l'ensemble des acteurs de la filière toiture</li>
          <ul>
            <li>Les professionnels par type de métier (charpentiers, couvreurs,..) et spécialités</li>
            <li>Les associations et institutions existantes</li>
            <li>Les labels nationaux et européens</li>
            <li>Les projets menés par les professionnels</li>
          </ul>
            <li>Recherche transparente : vous contactez le professionnel par vous même</li>
            <li>Une charte validée par les professionnels (respect des devis, souci de clarté, respect des normes sociales et environnementales)</li>
          </ul>


      </div>
    </div>
  </div>
</div>
