<div class="wrapper-magazine-top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content-container">
          <h1> Toits de France </h1>
          <span>L'annuaire des professionnels de la toiture</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-9">
      <div class='article-page'>
        <header>
          <h1 itemprop="headline" class="text-center">Services aux professionnels</h1>
        </header>
        <p class="italic">L'objectif de Toitsdefrance.fr est de donner aux professionnels un outil simple et efficace afin d'améliorer leur communication, mettre en avant leurs spécialités et leurs réalisations mais aussi d'avoir accès à différents services comme un panneau de recherche d'ouvriers.</p>

        <h2>Amélioration de votre communication</h2>
        <p>Notre ambition est de créer le site internet de référence du secteur de la toiture où les professionnels peuvent se présenter simplement et librement mais aussi bénéficier de services particuliers.</p>

        <h3>Les fonctionnalités :</h3>
        <ul>
          <li>Création d'une page entreprise</li>
          <ul>
            <li>Les coordonnées de l'entreprise</li>
            <li>Les spécialités</li>
            <li>Les labels et certifications</li>
          </ul>
          <li>Création de projets</li>
          <li>Création d'articles</li>
          <li>Commentaires</li>
        </ul>

        <h2>Offrir des services afin de vous faire gagner du temps</h2>
        <ul>
          <li>Une plate-forme de recherche d’emplois</li>
          <li>Des services administratifs</li>
        </ul>

        <h2>Mettre en avant les bonnes pratiques au sein de la filière </h2>
        <ul>
          <li>Favoriser les bonnes pratiques en collaboration avec les professionnels</li>
        </ul>

        <h2>Favoriser la conservation du patrimoine</h2>
        <p>Mettre en avant le patrimoine vivant et architecturale de l'ensemble des acteurs de la filière toiture.</p>
      </div>
    </div>
  </div>
</div>
