<h1 class="text-center title_project_new">edition de projet</h1>


<%= render "shared/form_project", project: @project %>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
<% end %>
