<h1>Merci pour votre visite sur notre site LIEN</h1>

Suite à votre demande, la société BLABLA va vous rencontacter.

CLIQUEZ ICI si vous souhaitez accéder à nouveau à leur page de profil et leurs coordonnées






<%= link_to "Revenir au site", root_url %>
