<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Annonces Emploi </h1>
      <p class="text-center">Il ya actuellement <%= JobAd.count %> annonces d'emploi sur le site</p>
    </div>
      <% @job_ads.each do |job_ad| %>
        <%= render "shared/card_job_ad", job_ad: job_ad %>
      <% end %>
  </div>
</div>
<div class="container container-form-needs">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="text-center">Je souhaite affiner ma recherche</h3>
      <%= render "shared/form_needs", need: @need %>
    </div>
  </div>
</div>


