<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Offres Emploi </h1>
      <p class="text-center">Il y a actuellement <%= JobOffer.count %> offres d'emploi sur le site</p>
    </div>
    <% @job_offers.each do |job_offer| %>
      <%= render "shared/card_job_offer", job_offer: job_offer %>
    <% end %>
  </div>
</div>
