
.card_show_users {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 250px;
  border: 1px solid $medium-grey;
  position: relative;

  .card_infos {
    padding-top: 20px;
    height: inherit;

    img {
      border-radius: 50%;
      margin-right: 15px;
    }

    span {
      font-size: 1.3em;
    }

    p {
      text-align: justify;
      max-width: 500px;
      font-weight: lighter;
      font-size: 90%;
      margin-top: 25px;
      position: absolute;

      span {
      font-size: inherit;
      color: $yellow;
      }

      i {
        font-size: smaller;
        color: $yellow;
      }
    }

    h5 {
      position: absolute;
      bottom: 10px;
      left: 330px;
      color: $medium-grey;
      font-weight: lighter;

    }

    .fa-phone {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: $yellow;
      font-size: 2.4em;
      padding: 5px;
      padding-left: 40px;
      padding-right: 40px;
      border: solid 2px $yellow;
      border-radius: 3px;
    }

    .fa-envelope-o {
      position: absolute;
      bottom: 15px;
      left: 150px;
      color: $yellow;
      font-size: 2.4em;
      padding: 5px;
      padding-left: 40px;
      padding-right: 40px;
      border: solid 2px $yellow;
      border-radius: 3px;
    }
  }

  .card_photo_presentation {

  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: #D0D0D0;
  opacity: 0;
}

  .card-link:hover{
  opacity: 0.2;
}
