

.wrapper-magazine-top-banner {
  background-color: $dark-grey;
  height: 25vh;
}

.content-container {
  padding: 1.875rem 5% 1.875rem 12.7%;
  text-align: right;

  h1 {
    color: white;
    text-align: center;
    font-style: bold;
    padding: 5px;
  }

  span {
    color: white;
  }

}
