.wrapper-magazine-top-banner {
  background-color: $light-grey;
  height: 30vh;
}

.content-container {
  padding: 1.875rem 5% 1.875rem 12.7%;
  text-align: right;

  h1 {
    color: $dark-grey;
    text-align: center;
    font-style: bold;
    padding: 20px;
  }

  span {

  }

}
