.shared_form {
  padding-top: 20px;
  padding-bottom: 30px;
  #cb-row {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  label {
    font-weight: lighter;
    color: initial;
  }
}
textarea:focus, input:focus{
  outline: none;
}


*:focus {
  outline: none;
}

.form-control:focus {
  border-color: $medium-grey;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  background-color: #fff !important;
}

.errors {
  color: #a94442;
}
