.profile-title {
  padding: 10px;
}

.profile-container {

  .profile-first-row {
    margin-bottom: 50px;
    margin-top: 30px;
    p {
      font-weight: bolder;
      margin-top: 30px;
    }
  }

  h4 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #user_description {
    min-height: 240px;
  }

  .form-control {
    width: 90%;

  }

  .text {
    width: 100% !important;
  }


  .checkbox_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    span {
      padding: 0px 5px 0px 0px;
      font-weight: lighter;
    }
  }

  h5 {
    font-size: 1.2em;
    font-weight: bolder;
  }
}

.col-profile-style {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: $light-grey;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 470px;
}

.col-profile-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  min-height:100px;
  margin-top: 50px;
  margin-bottom: 50px;

  .help-block-custom {
    color: orangered;
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid $medium-grey 1px;
  }
}

#flebox-edit-user {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
