.col-profile-style-check-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  .checkbox_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    span {
      padding: 5px;
      font-weight: 300;
    }
  }
}

.col-profile-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-col {
  #user_description {
    height: 170px
  }
}

.btn-edit-profil {
  margin: 10px 0 10px 0;
}

.underline-title-container-edit-user {
  border-bottom: solid 2px $dark-grey;
  margin-bottom: 20px;
  margin-top: 60px;
}

.link-press-md {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
  input {
    min-width: 350px;
  }
}

.container-communication {
  span {
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
  }
  margin-bottom: 40px;
}

.press-link-col {
  .form-group {
    margin-right: 50px;
  }
  input {
    min-width: 350px;
  }
}

.form-title-custom {
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
}

.pro-instit-form {
  input {
    border-radius: 5px;
  }
  textarea {
    border-radius: 5px;
  }
  li {
    margin-top: 10px;
  }
}

.specialites-form {
  margin-top: 40px;
}

#radius-input {
  input {
    max-width: 290px;
  }
}
